.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    width: 48px;
    margin-left: 20px;
}


.header__title {
    font-family: sans-serif;
    color: steelblue;
}