.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    width: 60px;
}


.header__title {
    font-size: 46px;
    color: steelblue;
    margin-left: 20px;
}